    .main-content {
      font-size: 87.5%;
    }

    .main-content h1,
    .main-content h2,
    .main-content h3,
    .main-content h4,
    .main-content h5,
    .main-content h6 {
      font-weight: 600;
    }

    .main-content h1 {
      font-size: 2em; 
    }

    .main-content h2 {
      font-size: 1.75em;
    }

    .main-content h3 {
      font-size: 1.5em; 
    }

    .main-content h4 {
      font-size: 1.25em; 
    }

    .main-content h5 {
      font-size: 1.125em; 
    }

    .main-content h6 {
      font-size: 1em; 
    }

    .main-content p {
      font-weight: 300;
      line-height: 1.55;
    }
